<ion-content>
  <ion-grid fixed *ngIf="flag" class="main login">
    <form (ngSubmit)="login(fLogin)" #fLogin="ngForm">
      <ion-row>
        <ion-col>
          <img src="/assets/avatars/av-1.png" />
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-label>Email</ion-label>
              <ion-input
                name="email"
                type="email"
                [(ngModel)]="user.email"
                required
                pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$"
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label>Password</ion-label>
              <ion-input
                name="password"
                type="password"
                [(ngModel)]="user.password"
                required
              ></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="tertiary" shape="round">
            Login
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>

  <ion-grid fixed class="main" *ngIf="!flag">
    <!-- Avatar picker -->
    <app-avatar-picker (avatarPick)="user.avatar = $event"></app-avatar-picker>
    <form (ngSubmit)="register(fRegister)" #fRegister="ngForm">
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-label>Email</ion-label>
              <ion-input
                name="email"
                type="email"
                [(ngModel)]="user.email"
                required
                pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$"
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label>Nombre</ion-label>
              <ion-input
                name="nombre"
                type="text"
                [(ngModel)]="user.name"
                required
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label>Password</ion-label>
              <ion-input
                name="password"
                type="password"
                [(ngModel)]="user.password"
                required
              ></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="tertiary" shape="round">
            Crear usuario
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-button
          shape="round"
          expand="full"
          size="small"
          [attr.fill]="flag ? 'solid' : 'outline'"
          color="tertiary"
          (click)="showLogin()"
        >
          Ingresar
        </ion-button>
      </ion-col>

      <ion-col>
        <ion-button
          shape="round"
          expand="full"
          size="small"
          [attr.fill]="!flag ? 'solid' : 'outline'"
          color="tertiary"
          (click)="showRegister()"
        >
          Registrarme
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
