<div class="post">
  <ion-item lines="none">
    <ion-avatar slot="start">
      <img src="/assets/avatars/{{post.user?.avatar}}">
    </ion-avatar>
    <ion-label>
      <h3>{{post.user?.name}}</h3>
      <h5>{{post.user?.email}}</h5>
    </ion-label>
  </ion-item>

  <swiper-container pagination="true" *ngIf="post.imgs?.length > 1 && !showCoords">
    <swiper-slide *ngFor="let img of post.imgs">
      <img class="image-slide" [style]="(img | image: post.user?._id) | domSanitizer">
    </swiper-slide>
    
  </swiper-container>
  <swiper-container pagination="false" *ngIf="post.imgs?.length === 1 && !showCoords">
    <swiper-slide  *ngFor="let img of post.imgs">
      <img class="image-slide" [style]="(img | image: post.user?._id) | domSanitizer">
    </swiper-slide>
    
  </swiper-container>

  <app-map [coords]="post.coords" *ngIf="post.coords && showCoords"></app-map>

  <ion-item lines="none">
    <ion-icon slot="start" [color]="like ? 'danger': ''" [name]=" like ? 'heart' : 'heart-outline'" (click)="setLike()"></ion-icon>

    <ion-icon slot="end" [name]="showCoords ? 'bookmark' : 'bookmark-outline'" (click)="changeShowCoords()" ></ion-icon>

  </ion-item>

  <ion-item lines="none">
    <ion-label text-wrap>
      {{post.message}}
    </ion-label>
  </ion-item>

</div>
